<div layout="column">
  <md-toolbar>
  	<h2 class="md-title" layout layout-align="center">Список книг</h2>
  </md-toolbar>
  
  <md-content flex>
    <md-grid-list
        md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height="2:2"
        md-gutter="12px" md-gutter-gt-sm="8px" >
  		<md-grid-tile class="book-preview" ng-repeat="book in bl.books">
        <div layout-align="center" layout-padding>
          <book-image resource-id="book.cover"></book-image>
          <div flex>
            <a ui-sref="books_list_detailed({ id: book.id })">{{ book.title.default }}</a>
          </div>
        </div>
  		</md-grid-tile>
    </md-grid-list>
  </md-content>
</div>