<div layout="column">
  <md-toolbar>
  	<h2 class="md-title" layout layout-align="center">Книга {{ ::bld.book.title.default }}</h2>
  </md-toolbar>
  
  <md-content flex layout-padding>
  	<h3>Book info</h3>
  	<md-list>
  		<md-list-item layout>
			<div class="book-detailed-attr__title" flex="20">id</div>
			<div class="book-detailed-attr__value">{{ ::bld.book.id }}</div>
  		</md-list-item layout>
  		<md-list-item layout>
			<div class="book-detailed-attr__title" flex="20">title</div>
			<div class="book-detailed-attr__value">{{ ::bld.book.title.default }}</div>
  		</md-list-item layout>
  		<md-list-item layout>
			<div class="book-detailed-attr__title" flex="20">description</div>
			<div class="book-detailed-attr__value">{{ ::bld.book.description.default }}</div>
  		</md-list-item layout>
  		<md-list-item layout>
			<div class="book-detailed-attr__title" flex="20">cover</div>
			<div class="book-detailed-attr__value"><book-image resource-id="bld.book.cover"></book-image></div>
  		</md-list-item layout>
  		<md-list-item layout>
			<div class="book-detailed-attr__title" flex="20">authors</div>
			<div class="book-detailed-attr__value">{{ ::bld.book.options.authors }}</div>
  		</md-list-item layout>
  		<md-list-item layout>
			<div class="book-detailed-attr__title" flex="20">owner</div>
			<div class="book-detailed-attr__value">{{ ::bld.book.owner }}</div>
  		</md-list-item layout>
  		<md-list-item layout>
			<div class="book-detailed-attr__title" flex="20">licenseParams</div>
			<div class="book-detailed-attr__value">{{ ::bld.book.licenseParams.join(', ') }}</div>
  		</md-list-item layout>
  		<md-list-item layout>
			<div class="book-detailed-attr__title" flex="20">contentType</div>
			<div class="book-detailed-attr__value">{{ ::bld.book.contentType }}</div>
  		</md-list-item layout>
  		<md-list-item layout>
			<div class="book-detailed-attr__title" flex="20">publishingStatus</div>
			<div class="book-detailed-attr__value">{{ ::bld.book.publishingStatus }}</div>
  		</md-list-item layout>
  		<md-list-item layout>
			<div class="book-detailed-attr__title" flex="20">maxKeys</div>
			<div class="book-detailed-attr__value">{{ ::bld.book.maxKeys }}</div>
  		</md-list-item layout>
  		<md-list-item layout>
			<div class="book-detailed-attr__title" flex="20">previewVideos</div>
			<div class="book-detailed-attr__value">{{ ::bld.book.previewVideos.join(', ') }}</div>
  		</md-list-item layout>
  		<md-list-item layout>
			<div class="book-detailed-attr__title" flex="20">previewImages</div>
			<div class="book-detailed-attr__value">
				<ul>
					<li ng-repeat="imageResourceId in ::bld.book.previewImages">
						<book-image resource-id="imageResourceId"></book-image>
					</li>
				</ul>
			</div>
  		</md-list-item layout>
  		<md-list-item layout>
			<div class="book-detailed-attr__title" flex="20">platformSupport</div>
			<div class="book-detailed-attr__value">{{ ::bld.book.platformSupport.join(', ') }}</div>
  		</md-list-item layout>
  		<md-list-item layout>
			<div class="book-detailed-attr__title" flex="20">tags</div>
			<div class="book-detailed-attr__value">{{ ::bld.book.tags.join(', ') }}</div>
  		</md-list-item layout>
  	</md-list>
  	<h3>Bundles info</h3>
  	<md-list>
  		<div ng-repeat="bundle in bld.bundles track by $index">
        <md-list-item layout ng-repeat="(attr_name, attr_value) in bundle">
          <div class="book-detailed-attr__title" flex="20">{{ attr_name }}</div>
          <div class="book-detailed-attr__value">{{ attr_value }}</div>
        </md-list-item layout>
        <md-divider ></md-divider>
      </div>
  	</md-list>
  </md-content>
</div>